<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssemblyPublicizer" version="1.0.2" targetFramework="net481" developmentDependency="true" />
  <package id="Aze.Publicise.MSBuild.Task" version="1.1.0" targetFramework="net472" developmentDependency="true" />
  <package id="dnlib" version="3.1.0" targetFramework="net481" />
  <package id="Lib.Harmony" version="2.3.3" targetFramework="net481" />
  <package id="UnityModManager" version="0.31.1" targetFramework="net481" />
</packages>